symbol,name,category,notes
AAPL,,Magnificent 7,
ABNB,,Travel,
ADBE,,Creative,
ADSK,,Tech,
AMPL,,Tech,
AMZN,,Magnificent 7,
APP,,Tech,
APPF,,Tech,
ASAN,,Productivity,
AVLR,,Tech,
AXON,,Tech,
BILL,,Tech,
BKNG,,Travel,
BMBL,,Tech,
CARG,,Tech,
CHGG,,Tech,
CHWY,,E-commerce,
COUP,,Procurement,
CRM,,SaaS Leaders,
CRNC,,Tech,
CRWD,,SaaS Leaders,
CVNA,,Tech,
DDOG,,SaaS Leaders,
DKNG,,Tech,
DLO,,Tech,
DM,,Tech,
DOCN,,Tech,
DOCU,,Productivity,
DOMO,,Tech,
DT,,Tech,
EA,,Gaming,
ESTC,,Data,
ETSY,,E-commerce,
EXPE,,Travel,
FIVN,,Data,
FROG,,Tech,
FSLY,,Tech,
FTCH,,Tech,
FTNT,,Security,
FVRR,,Tech,
GDOT,,Tech,
GLBE,,Tech,
GLOB,,Tech,
GME,,Tech,
GOOGL,,Magnificent 7,
GTLB,,Tech,
HUBS,,SaaS Leaders,
IAC,,Tech,
INTU,,SaaS Leaders,
LC,,Tech,
LMND,,Tech,
LOGI,,Tech,
LSPD,,Tech,
LTCH,,Tech,
LYFT,,Rideshare,
MDB,,SaaS Leaders,
META,,Magnificent 7,
MGNI,,Tech,
MITK,,Tech,
MNDY,,Tech,
MQ,,Tech,
MSFT,,Magnificent 7,
MTCH,,Tech,
NET,,SaaS Leaders,
NFLX,,Entertainment,
NOW,,SaaS Leaders,
NVDA,,Magnificent 7,
OKTA,,Security,
OSTK,,Tech,
PAYC,,Tech,
PD,,Tech,
PINS,,Social,
PLAN,,Productivity,
PLTR,,AI/Data,
POSH,,Tech,
PTON,,Tech,
PUBM,,AdTech,
PYPL,,FinTech,
RBLX,,Gaming,
RDFN,,Tech,
REAL,,Tech,
RNG,,Tech,
ROKU,,Entertainment,
ROOT,,Tech,
RPD,,Tech,
S,,Tech,
SEMR,,Tech,
SHOP,,E-commerce,
SMAR,,Tech,
SNAP,,Social,
SNOW,,AI/Data,
SOFI,,FinTech,
SPOT,,Entertainment,
SPT,,Tech,
SQ,,FinTech,
SUMO,,Tech,
TDUP,,Tech,
TEAM,,SaaS Leaders,
TSM,,Tech,
TTD,,AdTech,
TTWO,,Gaming,
TWLO,,Communication,
TWTR,,Tech,
U,,Tech,
UBER,,Rideshare,
UPST,,Tech,
UPWK,,Tech,
VLD,,Tech,
VMEO,,Marketing,
VRM,,Tech,
W,,Tech,
WDAY,,SaaS Leaders,
WIX,,Tech,
ZEN,,Tech,
ZI,,Tech,
ZM,,Communication,
ZS,,Security,